<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% set css %}
    {% include "critical.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <title>Simonsier.no</title>
    <link rel="stylesheet" href="{{'/styles/main.css' | url }}" media="print" onload="this.media='all'">
    {% if content.data.title === "Om meg" %}
      <link rel="stylesheet" href="{{'/styles/about.css' | url }}" media="print" onload="this.media='all'">
    {% endif %} {# TODO: FIX #}
    {# <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script> #}
  </head>
  <body>
    <a id="top"></a>
    <header class="header">
      <h1 class="header__title">
        <a href="/">Simon sier...
        </a>
      </h1>
      <span class="menu__toggle">Meny</span>
      {% set navPages = collections.all | eleventyNavigation %}
        <nav class="menu">
          <ul class="menu__list">
          {%- for entry in navPages %}
            <li>
              <a class="menu__link {% if entry.url == page.url %}menu__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-container">
      {{ content | safe }}
    </main>
    {% set js %}
    {% include "main.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>