
:root {
  --main-background-color: #121212;
  --text-highlight-color: #fedb8b;
}

/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold'), local('Lora-Bold'),
    url('/fonts/lora-v13-latin-700.woff2') format('woff2'),
    url('/fonts/lora-v13-latin-700.woff') format('woff');
}

body, html {
  background-color: var(--main-background-color);
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.header {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
  box-shadow: 3px 3px 3px 3px #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title a {
  font-size: 24px;
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
}
.header__title a:hover {
  text-decoration: none;
}

.page__title, .article__title {
  color: var(--text-highlight-color);
  font-family: Lora, serif;
  font-size: 2rem;
  z-index: 2;
  text-shadow: 3px 3px #000000;
}

.article__title {
  text-shadow: none;
}

.menu {
  position: absolute;
  background-color: var(--main-background-color);
  top: 81px;
  left: -100%;
  float: right;
  text-align: center;
  width: 100%;
  z-index: -2;
  will-change: transform;
  transition: transform 0.2s ease-in;
}

.menu--open {
  z-index: 2;
  transform: translatex(100%);
  transition: transform 0.2s ease-out;
}

.menu__toggle {
  padding: 8px 16px;
}

.menu__toggle:hover {
  cursor: pointer;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu__list li {
  border-bottom: 1px solid var(--main-background-color);
}

.menu__list li:first-child {
  border-top: 1px solid var(--main-background-color); 
}

.menu__link {
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
}

.menu__link--active {
  text-decoration: wavy;
}

.menu__link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

.main-container {
  margin: 0 20px 10vh; 
}

.last-posts__title, .archive__title {
  font-size: 1.5rem;
}

.last-posts__link, .archive__link, a {
  color: #8bb8df;
  text-decoration: none;
}

.last-posts__link:hover, .archive__link:hover, a:hover {
  text-decoration: underline;
}

.last-posts__more, .archive__more {
  color: #8bb8df;
  text-decoration: underline;
}

.article p {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  width: calc(100% - 40px);
  max-width: 600px;
}

.article p:first-of-type {
  font-weight: bold;
}

.article h2 {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.875rem;
}

.article__info {
  font-size: 0.9rem;
}


@media only screen and (min-width: 768px) {
  /* For desktop */
  .header {
    flex-direction: row;
  }

  .header__title a {
    margin-left: 5vw;
    font-size: 2rem;
  }

  .menu__toggle {
    display: none;
  }

  .menu {
    display: block;
    position: relative;
    float: none;
    top: auto;
    left: auto;
    width: auto;
    margin-right: 5vw;
  }

  .menu__list {
    display: flex;
  }
  .menu__list li {
    border: none;
  }

  .menu__list li:first-child {
    border: none;
  }

  .menu__link {
    display: block;
    font-size: 1.2rem;
  }

  .main-container {
    margin-left: 22vw;
    margin-right: 22vw;
  }

  .about {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vh;
  }

  .about__content {
    max-width: 600px;
  }

  .welcome__title {
    font-size: 3rem;
  }

  .last-posts__title {
    font-size: 2rem;
  }
}