    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if description %}
    <meta name="description" content="{{description}} Author: Simon Opheim">
    {% endif %}
    {% set css %}
    {% include "critical.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <title>{{ title }} | {{ site.title }}</title>
    {% if cssLink %}
    <link rel="stylesheet" href="{{ cssLink | url }}" media="print" onload="this.media='all'">
    {% endif %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>