<header class="header">
  <h1 class="header__title">
    <a href="/">{{ site.name }}
    </a>
  </h1>
  <span class="menu__toggle">Meny</span>
  {% set navPages = collections.all | eleventyNavigation %}
  <nav class="menu">
    <ul class="menu__list">
    {%- for entry in navPages %}
      <li>
        <a class="menu__link {% if entry.url == page.url %}menu__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>