---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<h1>Velkommen til min blogg</h1>
<section>
  <h2>Siste poster</h2>
  {% for post in posts %}
    <article>
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title  }}</a>
      </h2>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      {% excerpt post %}
      <a href="{{ post.url | url }}"
   aria-label="Read more on {{ post.data.title }}">Read more</a>
    </article>
  {% endfor %}
</section>
