---
layout: base.njk
---
<section class="about">
  <h1 class="page__title">{{ title }}</h1>
  <img src="/images/profilbilde.png" alt="Profilbilde av Simon Opheim">
  <article class="about__content">
   {{ content | safe }}
  </article>
  <aside class="about__certifications">
      <img src="/images/aws-certified-solutions-architect-associate.png" alt="AWS Solution Architect Associate Badge" class="about__certification">
      <img src="/images/aws-certified-cloud-practitioner.png" alt="AWS Cloud Practitioner Badge" class="about__certification" >
  </aside>
</section>
