<!DOCTYPE html>
<html lang="no">
  <head>
    {% include "head.njk" %}
  </head>
  <body id="top">
    {% include "header.njk" %}
    <main class="main-container">
      {{ content | safe }}
    </main>
    {% set js %}
    {% include "main.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>