---
layout: base.njk
cssLink: /styles/prism-vsc-dark.css
---
<article class="article">
  <h1 class="article__title">{{ title }}</h1> 
  <section class="article__info">
    <time class="article__time" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
    <span>— {{ helpers.getReadingTime(content) }} min lesetid</span>
  </section>
  <section class="article__content">
    <p>
      {{ description }}
    </p>
    {{ content | safe }}
  </section>
  <section class="article__footer">
    <a href="/">Til forsiden</a>
    <a href="#top">Til toppen</a>
  </section>
</article>