@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lora Bold'), local('Lora-Bold'),
    url('/fonts/lora-v13-latin-700.woff2') format('woff2'),
    url('/fonts/lora-v13-latin-700.woff') format('woff');
}

body {
  background-color: rgb(26, 26, 26);
  color: rgb(224, 224, 224, 0.87);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.article {
  max-width: 100%;
  padding: 2rem 1rem;
}

.article p {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  width: calc(100% - 40px);
  max-width: 600px;
  text-rendering: optimizeLegibility;
}

.article__lead {
  font-size: 1.35rem;
}

.article h2 {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.875rem;
}

.article__info {
  font-size: 0.9rem;
}

.article__title {
  color: #fedb8b;
  font-family: Lora, serif;
  font-size: 2rem;
  z-index: 2;
  text-shadow: 3px 3px #000000;
  text-shadow: none;
  font-weight: 300;
}

.article img {
  display: block;
  margin: auto;
  width: 100%;
}

.article ul,
.article li {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.article a {
  color: #8bb8df;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}
