backend:
  name: git-gateway
  branch: master
local_backend: true # run npx netlify-cms-proxy-server for local testing
publish_mode: editorial_workflow
media_folder: images
locale: 'nb_no'
site_url: 'https://www.simonsier.no'
collections:
  - name: posts # Used in routes, e.g., /admin/collections/posts
    label: Post # Used in the UI
    folder: src/posts # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Tittel', name: 'title', widget: 'string', required: true }
      - {
          label: 'Publiseringsdato',
          name: 'date',
          widget: 'datetime',
          date_format: 'YYYY-MM-DD',
          format: 'YYYY-MM-DD',
          required: true,
        }
      - {
          label: 'Ingress',
          name: 'description',
          widget: 'text',
          required: true,
        }
      - { label: 'Body', name: 'body', widget: 'markdown' }
