---
layout: base-layout.njk
eleventyNavigation:
  key: Portefølje
  order: 2
title: Portefølje
cssLink: /styles/main.css
---
<h1 class="page__title">{{title}} </h1>
<section> 
  <ul class="portfolio__tabs">
    <li><button type="button" class="portfolio__tab portfolio__tab--active" >Hobbyprosjekter</button></li>
    <li><button type="button" class="portfolio__tab" >Erfaring</button></li>
    <li><button type="button" class="portfolio__tab" >Utdanning</button></li>
  </ul>
 </section>
<article class="portfolio">
  <section class="portfolio__section" id="Hobbyprosjekter">
    <h2>Hobbyprosjekter</h2>
    <section class="projects">
    {% for project in portfolio.projects %}
      <article class="project">
          <section class="project__img">
              <img src="{{project.imgUrl | url }}" alt="Bilde av {{project.name}}">
          </section>
        <section class="project__info">
          <h3>{{project.name}}</h3>
          <p> {{project.desc}} </p>
        </section>
        <section class="project__links">
            <a href="{{project.url }}" target="_blank" rel="noopener">Se side</a>
            <a href="{{project.githubUrl}}" target="_blank" rel="noopener">Se kode</a>
        </section>
      </article>
    {% endfor %}
    </section>
    <p>
    For en mer utfyllende liste over ting jeg har laget på fritiden, gjerne ta en titt på min Github.
    </p>
  </section>

  <section class="portfolio__section animate--bottom" id="Erfaring" style="display: none">
    <h2>Erfaring</h2>
    <ul>
      {% for experience in portfolio.experiences %}
        <li> {{experience.title}} </li>
      {% endfor %}
    </ul>
  </section>

  <section class="portfolio__section animate--right" id="Utdanning"  style="display: none">
    <h2>Utdanning, kurs og sertifiseringer</h2>
    <ul>
      {% for edu in portfolio.education %}
        <li> {{edu.title}} </li>
      {% endfor %}
    </ul>
  </section>
</article>
